<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Amasty_UserName" translate="label" sortOrder="9">
            <label>Amasty UserName Module</label>
        </tab>
        <section id="test_config" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>UserName Module Config</label>
            <tab>Amasty_UserName</tab>
            <resource>Amasty_UserName::config</resource>
            <group id="general" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enabled" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Is Module Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="welcome_text" type="textarea" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Welcome text</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="qty" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show qty</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="qty_value" type="textarea" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Qty value</label>
                    <!--<validate>integer</validate>-->
                    <depends>
                        <field id="qty">1</field>
                        <field id="enabled">1</field>
                    </depends>
                </field>

            </group>
        </section>
    </system>

</config>