<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
<!--    <preference for="Amasty\UserName\Controller\Index\Index" type="Amasty\SecondUsername\Controller\Index\Index" />-->
<!--    <type name="Amasty\UserName\Block\Form">-->
<!--        <plugin name="Amasty_secondUserName::ChangeFormAction" type="Amasty\SecondUsername\Plugin\ChangeForm"/>-->
<!--    </type>-->
<!--    <type name="Magento\Checkout\Controller\Cart\Add">-->
<!--        <plugin name="Amasty_secondUserName::AddParam" type="Amasty\SecondUsername\Plugin\AddParamId" />-->
<!--    </type>-->
</config>